@import url(../../App.css);

.quiz-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--cor-background);
  margin: 1em 1.2em;
  padding: 2.5em 2.2em;

  gap: 2em;

  border-radius: 1em;
}

.quiz-texts{
  display: flex;
  flex-direction: column;
  text-align: center;
  
  gap: 1em;
}

.quiz-title{
  font-family: var(--fonte-secondaria);
  color: var(--cor-text-dark);

  font-size: 2rem;
  font-weight: 500;
}

.quiz-subtitle{
  font-family: var(--fonte-secondaria);
}

.start-screen{
  display: flex;
  flex-direction: column;

  padding: 100px 100px;
  background-color: var(--cor-secundary);
  border-radius: 12px;

}

.start-title{
  color: var(--cor-text-dark);
  margin-bottom: 30px;
  font-size: 2em;
}

.start-button, .restart-button{
  background-color: var(--cor-primary);
  font-family: var(--fonte-secundary);
  color: var(--cor-background);
  border: none;
  border-radius: 10px;
  padding: .5em;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  margin-top: 20px;
}

.start-button:hover, .restart-button:hover{
  background-color: var(--cor-secundary);
  transform: translateY(-2px);
}

.score-conteiner{
  background-color: var(--cor-background);
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid var(-cor-accent);
}

.score-selection{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-radius: 1em;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.score-message{
  font-size: 1.2rem;
  color: var(--cor-text-dark);
  margin-top: 15px;
  font-style: italic;
  padding: 0 10px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.question-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.question-count{
  color: var(--cor-secondary);
  font-size: 1.1em;
  margin-bottom: 25px;
  font-weight: 500;
}

.question-count span{
  font-weight: bold;
  color: var(--cor-text-dark)
}

.question-text{
  color: var(--cor-text-dark);
  font-size: 1.8rem;
  margin-bottom: 30px;
  text-align: center;
}

.answer-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.answer-button{
  background-color: var(--cor-secundary);
  color: var(--cor-text-dark);
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  font-family: var(--fonte-secondaria);
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.answer-button:hover{
  background-color: var(--cor-primary);
  color: var(--cor-background);
  transform: translateY(-2px);
}

@media screen and (min-width: 768px) {
  .quiz-section{
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .quiz-title{
    font-size: 2.5rem;
  }

  .quiz-subtitle{
    font-size: 1.3rem;
  }
}