@import url(../../App.css);

.photo-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-background);
  margin: 1em 2em;
  padding: 2.5em 2.2em;
  border-radius: 0.5em;
  gap: 2em;
}

.photo-Text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.photo-title {
  font-family: var(--fonte-secundaria);
  text-align: justify;
  font-size: 1.8rem;
  font-weight: 500;
}

.photo-subtitle {
  font-family: var(--fonte-secundaria);
}

.photos-grid {
  width: 300px;
  height: 500px;
  overflow: hidden;
}

.carousel {
  width: 320px;
  height: 500px;
  max-width: 90vw;
  max-height: 80vh;
  border-radius: 10px;
  overflow: hiddem;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.carousel .slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-principal-text);
}

.carousel-item {
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 100%;
}

.carousel .legend {
  background: rgba(38, 70, 83, 0.75);
  color: var(--cor-destaque);
  padding: 10px;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.carousel .control-dots {
  position: absolute;
  bottom: -40px;
  width: 100%;
  text-align: center;
}

.carousel .control-dots .dot {
  background: var(--color-secondary);
  box-shadow: none;
  opacity: 0.7;
}

.carousel .control-dots .dot.selected {
  background: var(--color-primary);
  opacity: 1;
}

.carousel .control-arrow {
  background: rgba(var(--color-text-dark), 0.5);
  height: 100%;
  top: 0;
  transition: background-color 0.3s ease;
}

.carousel .control-arrow:hover {
  background: rgba(var(--color-text-dark), 0.8);
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  border-top: 8px solid var(--color-background);
  border-bottom: 8px solid var(--color-background);
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid var(--color-background);
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid var(--color-background);
}

@media screen and (min-width: 768px) {
  .photo-gallery {
    flex-direction: row;
    justify-content: space-around;
  }

  .photo-Text {
    gap: 2em;
    width: 500px;
  }

  .photo-title {
    font-size: 2.5rem;
  }

  .photo-subtitle {
    font-size: 1.3rem;
  }
}
