@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
     --cor-primary: #D62828;
     --cor-secundary: #FF88A9;
     --cor-background: #FFF8F3;
     --cor-text-dark: #222222;
     --cor-accent: #F7C2A3;

     --fonte-principal: "Roboto", sans-serif;
     --fonte-secundaria: "Lora", serif;
}